<a href="https://colab.research.google.com/github/jaaaamj0711/-Coding-practice/blob/main/%EC%9C%A0%EC%9D%BC%EA%B0%92_%ED%99%95%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Pandas] 유일한 값 찾기 unique(), nunique(), value_counts()

데이터 분석을 하면서 우리는 유일한 값, 즉 고유한 값을 찾고 싶은 순간들이 있습니다. 이번 시간에는 그 종류들에 대해 알아보도록 하겠습니다

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("/content/drive/MyDrive/bread basket.csv")
data.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

## 1.unique()

unique()는 데이터에 고유값들이 어떠한 종류들이 있는지 알고 싶을때 사용하는 함수입니다. 예시로 설명을 해보도록 하겠습니다.

In [5]:
data['Item'].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'Tartine',
       'Basket', 'Mineral water', 'Farm House', 'Fudge', 'Juice',
       "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

출력된 결과를 보면 품목들의 종류들이 고유한 값으로 출력된 것을 볼 수 있습니다. 데이터의 종류들을 알고 싶을때 사용하면 유용한 함수입니다

## 2. nunique()

nunique()는 데이터에 고유값들의 수를 출력해주는 함수입니다. 예시로 설명을 해보도록 하겠습니다.

In [7]:
data['Item'].nunique()

94

출력된 결과를 보면 품목들의 수를 알려주고 있습니다. 데이터의 고유값의 총 수를 알고 싶을때 유용한 함수입니다.

## 3. value_counts()

value_counts()는 값별로 데이터의 수를 출력해주는 함수입니다. 예시로 설명을 해보도록 하겠습니다.

In [8]:
data['Item'].value_counts()

Coffee            5471
Bread             3325
Tea               1435
Cake              1025
Pastry             856
                  ...
Gift voucher         1
The BART             1
Bacon                1
Olum & polenta       1
Adjustment           1
Name: Item, Length: 94, dtype: int64

품목별로 데이터의 갯수를 출력해주고 있습니다. 데이터의 고유값별로 몇개씩 들어있는지 알고 싶을때 유용한 함수입니다. 

추가적으로 value_counts()는 기본적으로 내림차순으로 정렬을 해주게 됩니다. 따라서 오름차순으로 정렬을 하고 싶다면 ascending=True 옵션을 지정해 주면 됩니다.

In [9]:
data['Item'].value_counts(ascending=True)

Adjustment           1
Olum & polenta       1
Bacon                1
The BART             1
Gift voucher         1
                  ...
Pastry             856
Cake              1025
Tea               1435
Bread             3325
Coffee            5471
Name: Item, Length: 94, dtype: int64